*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.viewContainer{
width: 100%;
height: 100%;
}
.container{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
    height: 4.375rem    ;
    }
.hamburger{
    font-size: 1.3rem;
    margin-left: 1.2rem; 
    cursor: pointer;
    color: gray;
}
.hamburger:hover{
    /* border: 1px solid gray; */
    background-color: rgb(231, 217, 217);
}
.youtubelogo{
    font-size: 1.3rem;
    margin-left: 1.5rem;
    cursor: pointer;
    color: red;
}
.super{
    font-size: 0.7rem;
    color: gray;
}
.youtubeText{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.centerContainer {
    display: flex;
   }
.centerContainer form {
    display: flex;
    border: 1px solid #ddd;
    height: 2.8rem;
    
   }
.centerContainer input {
    width: 31.25rem;
    padding:0.7rem;
    border: 0;
    height: 100%;
    /* border-radius: 1.5em ; */
    
     }
  .centerContainer button {
    height: 100%;
    width: 3.8rem;
    border: none;
  }
   
.mic {
    margin-top: 0.8rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}
  
  input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
.Icon{
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}
.rightContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.mainContainer{
    display: flex;
    width: 100%;
    } 
.sideBar{
    width: 20%;
    margin: 0.5rem;
    height: 100vh; 
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width:0.75rem;
}

::-webkit-scrollbar {
    width: 0.7rem;
   }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #f1f1f1; 
    border-radius: 0.65rem;
    height: 4.4rem;  
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.iconContainer{
    /* margin-top: 1.3rem; */
   padding: 0.5rem;
   margin-left: 1.2rem;
}
.iconContainer:hover{
background-color: rgb(225, 222, 222);
border-radius: 10px 10px 10px 10px;
}
.iconText{
    margin-left: 1rem;
    font-size: 0.8rem;
}
.SideIcon{
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}
.videoContainer{
    width: 100%;
    height: 100vh;
}
.tabSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    height: 5%;

    /* overflow-x: scroll; */

}
.tab{
    margin-right: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgb(238, 227, 227);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}
.tab span{
    font-size: 1rem;
    font-weight: bold;
}
.tab:hover{
    background-color: rgb(183, 179, 179);
    cursor: pointer; 
}
.dataContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem 0.9rem;
}
.videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: transform .2s;  
}
 .video:hover{
    
    transform: scale(1.2);
} 
.video {
    width: 18.75rem;
    margin-bottom: 2rem;
  }
.Image{
    width: 100%;
    height: 10.625rem;
  }
.thumbnail{
    object-fit: cover;
    height: 92%;
    width: 100%;
    border-radius: 3%;
    /* transition: transform .2s; */
}
/* .thumbnail:hover{
    transform: scale(1.2);
} */
.avatarProfile{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
  .title h2 {
    color: rgb(3, 3, 3);
    line-height: 1.2rem;
    font-size: 0.9rem;
    margin-bottom: 0.34rem;
  }

  .title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 0.75rem;
} 
